<app-container>
  <div
    *ngIf="event"
    class="relative flex justify-center items-center min-h-screen my-5"
  >
    <div
      class="absolute inset-0 bg-cover bg-center opacity-30 blur-sm shadow-lg rounded-lg h-[50%]"
      style="background-image: url('assets/images/quemSomos.png')"
    >
      <div
        class="absolute inset-0 bg-black opacity-50 shadow-lg rounded-lg"
      ></div>
    </div>
    <div
      class="relative z-10 w-full max-w-4xl bg-white shadow-lg shadow-indigo-500/50 rounded-lg overflow-hidden my-5"
    >
      <img class="w-full" src="{{ event.image }}" alt="" />
      <div class="p-6">
        <h1 class="text-4xl font-bold text-gray-700 mb-4">
          {{ event.title }}
        </h1>
        <p class="text-gray-600 mb-6">
          {{ event.date | date : "yyyy-MM-dd" | date : "dd/MM/yyyy" }} às
          {{ event.time }}
        </p>
        <h2
          _ngcontent-ng-c2165744719=""
          class="text-2xl font-semibold text-gray-600 mb-2"
        >
          Categoria
        </h2>
        <p class="text-gray-600 mb-6">
          {{ event.category }}
        </p>

        <div
          _ngcontent-ng-c2165744719=""
          class="bg-indigo-50 p-4 rounded-lg shadow-inner"
        >
          <h2
            _ngcontent-ng-c2165744719=""
            class="text-2xl font-semibold text-gray-600 mb-2"
          >
            Descrição Geral
          </h2>
          <p _ngcontent-ng-c2165744719="" class="text-gray-600 text-base">
            {{ event.description }}
          </p>
        </div>

        <div _ngcontent-ng-c2165744719="" class="mt-6">
          <h2
            _ngcontent-ng-c2165744719=""
            class="text-2xl font-semibold text-gray-600 mb-2"
          >
            Localização
          </h2>
          <p>{{ event.street }}, {{ event.number }}</p>
          <p>{{ event.city }}, {{ event.state }}</p>
        </div>
        <div _ngcontent-ng-c2165744719="" class="mt-6">
          <h2
            _ngcontent-ng-c2165744719=""
            class="text-2xl font-semibold text-gray-600 mb-2"
          >
            Organizador:
          </h2>
          <p>
            {{ event.organizer.name }}
          </p>
          <h2
            _ngcontent-ng-c2165744719=""
            class="text-2xl font-semibold text-gray-600 mb-2"
          >
            Email:
          </h2>
          <p>{{ event.organizer.email }}</p>
        </div>
      </div>

      <div class="p-6">
        <h2
          _ngcontent-ng-c2165744719=""
          class="text-2xl font-semibold text-gray-600 mb-2"
        >
          Confira a localização no mapa
        </h2>
        <iframe
          [src]="safeUrl"
          width="100%"
          height="300"
          frameborder="0"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
          style="border: 0"
        ></iframe>
      </div>
      <div class="flex justify-end">
        <button (click)="confirmPresence(event.id)">Confirmar Presença</button>
        <button (click)="favoriteEvent(event.id)">Favoritar</button>
        <button
          (click)="editEvent()"
          class="m-1 text-center bg-indigo-600 border rounded-lg text-white font-semibold py-3 px-8 hover:bg-indigo-500 hover:scale-400 m-6"
        >
          Editar Evento
        </button>
      </div>
    </div>
  </div>
</app-container>
