<footer
  class="w-full py-14 mt-10 relative top-[12rem]"
  style="
    background-image: url('assets/images/backfix.png');
    background-size: cover;
    background-position: center;
  "
>
  <div class="mx-auto max-w-7xl px-4 px-8 flex justify-center items-center">
    <div>
      <a class="mx-auto flex justify-center" href="/">
        <img class="w-[18rem]" src="assets/images/logo.png" alt="Logo e-events"
      /></a>
      <ul
        class="flex items-center justify-center flex-col gap-4 md:flex-row py-10 mb-10 border-b border-gray-200"
      >
        <li class="text-gray-600 text-lg hover:text-gray-700">
          <a href="/">Home</a>
        </li>
        <li class="text-gray-600 text-lg hover:text-gray-700">
          <a href="/termos">Termos de Uso</a>
        </li>

        <li class="text-gray-600 text-lg hover:text-gray-700">
          <a href="/contato">Contato</a>
        </li>
      </ul>

      <span class="text-sm text-gray-500 text-center block"
        >© Copyright 2024, Todos os direitos reservados.</span
      >
    </div>
  </div>
</footer>
