<header class="w-full">
  <div
    class="flex items-center justify-between py-4 px-12 mx-[10rem] shadow-md rounded-lg"
  >
    <a href="/" class="text-indigo-900">
      <img src="assets/images/logo.png" class="w-36 md:py-0" />
    </a>

    <nav class="z-10">
      <ul
        class="flex flex-row items-center px-6 py-5 bg-indigo-200/75 rounded-2xl"
      >
        <li class="pr-8">
          <app-button-back
            class="button-font"
            text="Home"
            href="/"
          ></app-button-back>
        </li>
        <li class="pr-8">
          <app-button-back
            class="button-font"
            text="Eventos"
            href="/eventos"
          ></app-button-back>
        </li>

        <li>
          <app-button-back
            class="button-font"
            text="Sobre nós"
            href="/sobre"
          ></app-button-back>
        </li>
      </ul>
    </nav>
    <div class="flex flex-row items-center">
      <app-button-back
        class="button-font"
        href="/login"
        text="Login"
      ></app-button-back>

      <div>
        <app-button-main href="/cadastro" text="Cadastre-se"></app-button-main>
      </div>
    </div>
  </div>
</header>
