<form>
  <div id="contact-us" class="overflow-hidden py-16 px-4">
    <div class="relative mx-auto max-w-[45rem]">
      <svg
        class="absolute left-full translate-x-1/2 transform"
        width="404"
        height="404"
        fill="none"
        viewBox="0 0 404 404"
        aria-hidden="true"
      >
        <defs>
          <pattern
            id="85737c0e-0916-41d7-917f-596dc7edfa27"
            x="0"
            y="0"
            width="20"
            height="20"
            patternUnits="userSpaceOnUse"
          >
            <rect
              x="0"
              y="0"
              width="4"
              height="4"
              class="text-indigo-300 dark:text-slate-600"
              fill="currentColor"
            ></rect>
          </pattern>
        </defs>
        <rect
          width="404"
          height="404"
          fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)"
        ></rect>
      </svg>
      <svg
        class="absolute right-full bottom-0 -translate-x-1/2 transform"
        width="404"
        height="404"
        fill="none"
        viewBox="0 0 404 404"
        aria-hidden="true"
      >
        <defs>
          <pattern
            id="85737c0e-0916-41d7-917f-596dc7edfa27"
            x="0"
            y="0"
            width="20"
            height="20"
            patternUnits="userSpaceOnUse"
          >
            <rect
              x="0"
              y="0"
              width="4"
              height="4"
              class="text-indigo-300 dark:text-slate-800"
              fill="currentColor"
            ></rect>
          </pattern>
        </defs>
        <rect
          width="404"
          height="404"
          fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)"
        ></rect>
      </svg>
      <div class="bg-white shadow-lg p-8 w-full text-center rounded-[2rem]">
        <div class="text-center">
          <h2
            class="text-[1.75rem] font-extrabold uppercase font-mono bg-gradient-to-r from-indigo-600 via-indigo-400 to-indigo-500 inline-block text-transparent bg-clip-text"
          >
            Dados do evento
          </h2>
        </div>
        <div class="mt-6">
          <form
            [formGroup]="formEvent"
            class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8 font-light"
          >
            <div class="sm:col-span-2 relative">
              <input
                type="text"
                id="title"
                name="title"
                formControlName="title"
                class="peer bg-white h-10 w-full rounded-lg text-gray-700 placeholder-transparent ring-2 px-2 ring-gray-300 focus:ring-indigo-700 focus:outline-none focus:border-rose-600"
              /><label
                for="title"
                class="absolute cursor-text left-0 -top-3 text-sm text-gray-500 bg-white mx-1 px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-3 peer-focus:text-indigo-700 peer-focus:text-sm transition-all"
                >Título do evento</label
              >
            </div>
            <div class="sm:col-span-2 bg-white rounded-lg">
              <div class="relative">
                <textarea
                  id="description"
                  name="description"
                  rows="3"
                  placeholder="Event Description"
                  formControlName="description"
                  class="peer bg-white h-48 w-full rounded-lg text-gray-500 placeholder-transparent ring-2 px-2 ring-gray-300 focus:ring-indigo-700 focus:outline-none focus:border-rose-600"
                ></textarea>
                <label
                  for="description"
                  class="absolute cursor-text left-0 -top-3 text-sm text-gray-500 mx-1 px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-3 peer-focus:text-indigo-700 peer-focus:text-sm transition-all"
                  >Descreva seu evento</label
                >
              </div>
            </div>
            <div class="relative">
              <select
                formControlName="category"
                id="category"
                name="category"
                class="peer bg-white h-10 w-full rounded-lg text-gray-500 ring-2 px-2 ring-gray-300 focus:ring-indigo-700 focus:outline-none focus:border-rose-600"
              >
                <option value="">Selecione a categoria</option>
                <option value="Musica">Música</option>
                <option value="Esportes">Esportes</option>
                <option value="Artes">Artes</option>
                <option value="Tecnologia">Tecnologia</option>
              </select>
              <label
                for="category"
                class="absolute cursor-text left-0 -top-3 text-sm text-gray-500 mx-1 px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-3 peer-focus:text-indigo-700 peer-focus:text-sm transition-all"
              ></label>
            </div>
            <div class="sm:col-span-2 relative">
              <input
                type="text"
                id="street"
                name="street"
                formControlName="street"
                class="peer bg-white h-10 w-full rounded-lg text-gray-700 placeholder-transparent ring-2 px-2 ring-gray-300 focus:ring-indigo-700 focus:outline-none focus:border-rose-600"
              /><label
                for="street"
                class="absolute bg-white cursor-text left-0 -top-3 text-sm text-gray-500 mx-1 px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-3 peer-focus:text-indigo-700 peer-focus:text-sm transition-all"
                >Endereço</label
              >
            </div>
            <div class="relative">
              <input
                type="text"
                id="number"
                name="number"
                formControlName="number"
                class="peer bg-white h-10 w-full rounded-lg text-gray-700 placeholder-transparent ring-2 px-2 ring-gray-300 focus:ring-indigo-700 focus:outline-none focus:border-rose-600"
              /><label
                for="number"
                class="absolute bg-white cursor-text left-0 -top-3 text-sm text-gray-500 mx-1 px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-3 peer-focus:text-indigo-700 peer-focus:text-sm transition-all"
                >Nº</label
              >
            </div>
            <div class="relative">
              <input
                type="text"
                id="street"
                name="street"
                formControlName="street"
                class="peer bg-white h-10 w-full rounded-lg text-gray-700 placeholder-transparent ring-2 px-2 ring-gray-300 focus:ring-indigo-700 focus:outline-none focus:border-rose-600"
              /><label
                for="street"
                class="absolute bg-white cursor-text left-0 -top-3 text-sm text-gray-500 bg-inherit mx-1 px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-3 peer-focus:text-indigo-700 peer-focus:text-sm transition-all"
                >Cidade</label
              >
            </div>
            <div class="relative">
              <input
                type="text"
                id="state"
                name="state"
                formControlName="state"
                class="peer bg-white h-10 w-full rounded-lg text-gray-700 placeholder-transparent ring-2 px-2 ring-gray-300 focus:ring-indigo-700 focus:outline-none focus:border-rose-600"
              /><label
                for="state"
                class="absolute bg-white cursor-text left-0 -top-3 text-sm text-gray-500 bg-inherit mx-1 px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-3 peer-focus:text-indigo-700 peer-focus:text-sm transition-all"
                >UF</label
              >
            </div>
            <div class="py-3 relative">
              <label
                class="inline-flex items-center text-gray-500"
                for="indigoCheckBox"
              >
                <input
                  id="indigoCheckBox"
                  type="checkbox"
                  class="w-4 h-4 accent-indigo-700"
                  checked
                />
                <span class="ml-2">Evento On-line</span>
              </label>
            </div>
            <div class="relative">
              <input
                type="text"
                id="googlemapslink"
                name="googlemapslink"
                class="peer bg-white h-10 w-full rounded-lg text-gray-700 placeholder-transparent ring-2 px-2 ring-gray-300 focus:ring-indigo-700 focus:outline-none focus:border-rose-600"
              /><label
                for="state"
                class="absolute bg-white cursor-text left-0 -top-3 text-sm text-gray-500 mx-1 px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-3 peer-focus:text-indigo-700 peer-focus:text-sm transition-all"
                >Link google maps</label
              >
            </div>
            <div class="relative bg-inherit">
              <select
                id="status"
                name="status"
                class="peer bg-white h-10 w-full rounded-lg text-gray-500 ring-2 px-2 ring-gray-300 focus:ring-indigo-700 focus:outline-none focus:border-rose-600"
              >
                <option value="">Selecione o status</option>
                <option value="Scheduled">Aberto</option>
                <option value="Cancelled">Cancelado</option>
                <option value="Completed">Finalizado</option>
              </select>
              <label
                for="status"
                class="absolute bg-white cursor-text left-0 -top-3 text-sm text-gray-500 mx-1 px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-3 peer-focus:text-indigo-700 peer-focus:text-sm transition-all"
              ></label>
            </div>
            <div>
              <div class="bg-white rounded-lg">
                <div class="relative">
                  <input
                    type="date"
                    id="date"
                    name="date"
                    formControlName="date"
                    class="peer bg-white h-10 w-full rounded-lg text-gray-700 placeholder-transparent ring-2 px-2 ring-gray-300 focus:ring-indigo-700 focus:outline-none focus:border-rose-600"
                    placeholder=" "
                  />
                  <label
                    for="date"
                    class="absolute cursor-text left-0 -top-3 text-sm text-gray-500 bg-white mx-1 px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-3 peer-focus:text-indigo-700 peer-focus:text-sm transition-all"
                  >
                    Data
                  </label>
                </div>
              </div>
            </div>
            <div>
              <div class="bg-white rounded-lg">
                <div class="relative">
                  <input
                    type="time"
                    id="time"
                    name="time"
                    formControlName="time"
                    class="peer bg-white h-10 w-full rounded-lg text-gray-700 placeholder-transparent ring-2 px-2 ring-gray-300 focus:ring-indigo-700 focus:outline-none focus:border-rose-600"
                    placeholder=" "
                  />
                  <label
                    for="time"
                    class="absolute cursor-text left-0 -top-3 text-sm text-gray-500 bg-white mx-1 px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-3 peer-focus:text-indigo-700 peer-focus:text-sm transition-all"
                  >
                    Hora
                  </label>
                </div>
              </div>
            </div>

            <div class="rounded-lg border border-indigo-500 p-4 w-36 relative">
              <label
                for="upload"
                class="flex flex-col items-center gap-2 cursor-pointer"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-10 w-10 fill-white stroke-indigo-500"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
                  />
                </svg>
                <span class="text-gray-500 font-medium"
                  >Adicione uma imagem</span
                >
              </label>
              <input
                id="upload"
                type="file"
                class="hidden"
                (change)="onFileSelected($event)"
              />
            </div>
            <img
              *ngIf="imagePreview"
              [src]="imagePreview"
              alt="Image Preview"
              class="w-full h-36 object-cover border rounded-md"
            />

            <div class="flex justify-between sm:col-span-2 mb-2">
              <app-button-secund href="/" text="Cancelar"></app-button-secund>
              <app-button-main
                (click)="cadastroEvent()"
                type="submit"
                text="Criar evento"
              ></app-button-main>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</form>
