<div
  class="w-full h-[320px]"
  id="home"
  class="py-8 shadow-xl shadow-indigo-700/75 bg-cover bg-no-repeat h-96"
  [style.background-image]="'url(assets/images/E-events-banner.png)'"
>
  <div class="inset-9 flex flex-col md:flex-row ml-24 max-w-lg">
    <div class="md:w-1/2 md:mb-0">
      <h1
        class="text-gray-700 font-medium text-4xl md:text-5xl leading-tight mb-2"
      >
        Gestão de eventos simplificada
      </h1>
      <p class="font-regular text-gray-300 text-xl mb-8 mt-4">
        Somos o elo que une o evento ao seu público.
      </p>
      <app-button-secund href="/contato" text="Contate-nos"></app-button-secund>
    </div>
  </div>
</div>
