<app-banner></app-banner>
<app-container>
  <div class="h-screen h-full py-6 sm:py-8 mt-32">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <div
        class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12"
      >
        <div class="flex flex-col justify-end items-center mt-10">
          <h1
            class="text-[3rem] font-extrabold uppercase font-mono bg-gradient-to-r from-gray-700 via-gray-400 to-gray-500 inline-block text-transparent bg-clip-text"
          >
            Galeria de destaques
          </h1>
        </div>
        <!-- <app-button-secund
          href="/galeria"
          text="Galeria de fotos"
        ></app-button-secund> -->
      </div>

      <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
        <!-- image - start -->
        <a
          href="#"
          class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80"
        >
          <img
            src="https://images.pexels.com/photos/976863/pexels-photo-976863.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            loading="lazy"
            alt="Photo by Minh Pham"
            class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
          />

          <div
            class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
          ></div>

          <span
            class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
            >XV
          </span>
        </a>
        <!-- image - end -->

        <!-- image - start -->
        <a
          href="#"
          class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80"
        >
          <img
            src="https://images.pexels.com/photos/860227/pexels-photo-860227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            loading="lazy"
            alt="Photo by Magicle"
            class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
          />

          <div
            class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
          ></div>

          <span
            class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
            >Tech</span
          >
        </a>
        <!-- image - end -->

        <!-- image - start -->
        <a
          href="#"
          class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80"
        >
          <img
            src="https://images.unsplash.com/photo-1610465299996-30f240ac2b1c?auto=format&q=75&fit=crop&w=1000"
            loading="lazy"
            alt="Photo by Martin Sanchez"
            class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
          />

          <div
            class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
          ></div>

          <span
            class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
            >Dev</span
          >
        </a>
        <!-- image - end -->

        <!-- image - start -->
        <a
          href="#"
          class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80"
        >
          <img
            src="https://images.pexels.com/photos/3023317/pexels-photo-3023317.jpeg"
            loading="lazy"
            alt="Photo by Lorenzo Herrera"
            class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
          />

          <div
            class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
          ></div>

          <span
            class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
            >Retro</span
          >
        </a>
        <!-- image - end -->
      </div>
    </div>
  </div>
  <div class="mt-[10rem]">
    <div class="flex flex-col justify-end mt-10 mb-10">
      <h1
        class="text-[3rem] font-extrabold uppercase font-mono bg-gradient-to-r from-gray-700 via-gray-400 to-gray-500 inline-block text-transparent bg-clip-text"
      >
        Depoimentos
      </h1>
    </div>

    <section
      class="relative md:p-0 transform duration-500 mt-8 hover:shadow-2xl cursor-pointer hover:-translate-y-1"
    >
      <div class="relative flex justify-end items-center">
        <div
          class="top-[95px] left-[5px] content bg-white p-2 pt-8 md:p-12 pb-12 lg:max-w-lg w-full lg:absolute top-48 right-5 z-10"
        >
          <div class="flex justify-between font-bold text-sm">
            <p>Organizadora de eventos</p>
            <p class="text-gray-400">17th March, 2021</p>
          </div>
          <h2 class="text-3xl font-semibold mt-4 md:mt-10 text-gray-700">
            Maria Silva
          </h2>
          <p
            class="my-3 text-justify font-medium text-gray-700 leading-relaxed"
          >
            A E-event transformou a maneira como organizo meus eventos. A
            interface é intuitiva e fácil de usar!
          </p>
        </div>
        <img
          class="max-w-2xl order-first lg:order-last"
          src="https://images.pexels.com/photos/12340458/pexels-photo-12340458.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
        />
      </div>
    </section>
    <section
      class="relative md:p-0 transform duration-500 mt-8 hover:shadow-2xl cursor-pointer hover:-translate-y-1"
    >
      <div
        class="top-[95px] content bg-white p-2 pt-8 md:p-12 pb-12 lg:max-w-lg w-full lg:absolute top-48 right-5"
      >
        <div class="flex justify-between font-bold text-sm">
          <p>Participante</p>
          <p class="text-gray-400">17th March, 2021</p>
        </div>
        <h2 class="text-3xl font-semibold mt-4 md:mt-10">Ana Costa</h2>
        <p class="my-3 text-justify font-medium text-gray-700 leading-relaxed">
          Graças à E-event, meu evento atingiu um público maior do que eu
          imaginava. Recomendo a todos!
        </p>
      </div>
      <img
        class="max-w-2xl"
        src="https://images.pexels.com/photos/1542085/pexels-photo-1542085.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
    </section>

    <section class="text-gray-700 body-font mt-[10rem]">
      <div class="flex flex-col justify-end mt-10 mb-10">
        <h1
          class="text-[3rem] font-extrabold uppercase font-mono bg-gradient-to-r from-gray-700 via-gray-400 to-gray-500 inline-block text-transparent bg-clip-text"
        >
          Porque nos escolher?
        </h1>
      </div>
      <div class="container px-5 py-12 mx-auto">
        <div class="flex flex-wrap text-center justify-center">
          <div class="p-4 md:w-1/4 sm:w-1/2">
            <div
              class="px-4 py-6 transform transition duration-500 hover:scale-110"
            >
              <div class="flex justify-center">
                <img src="assets/images/conexão.png" class="w-32 mb-3" />
              </div>
              <h2 class="title-font font-regular text-2xl text-gray-500">
                Conexão entre Pessoas
              </h2>
            </div>
          </div>

          <div class="p-4 md:w-1/4 sm:w-1/2">
            <div
              class="px-4 py-6 transform transition duration-500 hover:scale-110"
            >
              <div class="flex justify-center">
                <img src="assets/images/divulgacao.png" class="w-32 mb-3" />
              </div>
              <h2 class="title-font font-regular text-2xl text-gray-500">
                Facilidade na Divulgação de Eventos
              </h2>
            </div>
          </div>

          <div class="p-4 md:w-1/4 sm:w-1/2">
            <div
              class="px-4 py-6 transform transition duration-500 hover:scale-110"
            >
              <div class="flex justify-center">
                <img src="assets/images/descoberta.png" class="w-32 mb-3" />
              </div>
              <h2 class="title-font font-regular text-2xl text-gray-500">
                Descoberta Simplificada de Eventos
              </h2>
            </div>
          </div>

          <div class="p-4 md:w-1/4 sm:w-1/2">
            <div
              class="px-4 py-6 transform transition duration-500 hover:scale-110"
            >
              <div class="flex justify-center">
                <img src="assets/images/experiencia.png" class="w-32 mb-3" />
              </div>
              <h2 class="title-font font-regular text-2xl text-gray-500">
                Experiências Memoráveis
              </h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</app-container>
