<!-- <div class="user-profile">
  <img [src]="user.image" alt="User Image" class="user-image"/>
  <h1>Olá, {{ user.name }}!</h1>
</div> -->
<main>
  <app-banner-geral> </app-banner-geral>
  <div class="relative z-20 flex flex-col justify-center mt-[10rem] ml-[15rem]">
    <h1
      class="text-[3rem] font-extrabold uppercase font-mono bg-gradient-to-r from-gray-700 via-gray-400 to-gray-500 inline-block text-transparent bg-clip-text"
    >
      Meus Eventos
    </h1>
  </div>

  <app-container>
    <div class="relative z-20 flex flex-col justify-center mt-[12rem]">
      <h1
        class="text-[3rem] font-extrabold uppercase font-mono bg-gradient-to-r from-gray-700 via-gray-400 to-gray-500 inline-block text-transparent bg-clip-text"
      >
        Presença confirmada
      </h1>
    </div>
    <table class="min-w-full divide-y divide-gray-200 overflow-x-auto mt-4">
      <thead class="bg-gray-50">
        <tr>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Evento
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Organizador
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Data e Hora
          </th>

          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Endereço
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Remover
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let event of confirmedEvents">
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <img
                  [src]="event.event.image"
                  alt="{{ event.event.title }}"
                  class="h-10 w-10 rounded-full"
                />
              </div>
              <div class="ml-4">
                <div class="text-sm font-medium text-gray-900">
                  {{ event.event.title }}
                </div>
              </div>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-900">
              {{ event.event.organizer.name }}
            </div>
            <div class="text-sm text-gray-500">
              {{ event.event.organizer.email }}
            </div>
          </td>

          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-900">
              {{ event.event.date | date : "dd/MM/yyyy" }}
            </div>
            <div class="text-sm text-gray-500">{{ event.event.time }}</div>
          </td>

          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-900">
              {{ event.event.city }} - {{ event.event.state }}
            </div>
            <div class="text-sm text-gray-500">
              {{ event.event.street }}
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
            <a
              (click)="removeConfirmation(event.eventId)"
              class="ml-2 text-indigo-600 hover:text-indigo-900"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-trash"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 7l16 0" />
                <path d="M10 11l0 6" />
                <path d="M14 11l0 6" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
              </svg>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="h-[2rem] w-full py-6 mt-[5rem]">
      <div
        class="w-full h-px max-w-6xl mx-auto py-1"
        style="
          background-image: linear-gradient(
            90deg,
            rgba(149, 131, 198, 0) 1.46%,
            rgba(149, 131, 198, 0.6) 40.83%,
            rgba(149, 131, 198, 0.3) 65.57%,
            rgba(149, 131, 198, 0) 107.92%
          );
        "
      ></div>
    </div>
    <div class="relative z-20 flex flex-col justify-center mt-[4rem]">
      <h1
        class="text-[3rem] font-extrabold uppercase font-mono bg-gradient-to-r from-gray-700 via-gray-400 to-gray-500 inline-block text-transparent bg-clip-text"
      >
        Favoritos
      </h1>
    </div>
    <table class="min-w-full divide-y divide-gray-200 overflow-x-auto mt-4">
      <thead class="bg-gray-50">
        <tr>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Evento
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Organizador
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Data e Hora
          </th>

          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Endereço
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Remover
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let event of favoritedEvents">
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <img
                  [src]="event.event.image"
                  alt="{{ event.event.title }}"
                  class="h-10 w-10 rounded-full"
                />
              </div>
              <div class="ml-4">
                <div class="text-sm font-medium text-gray-900">
                  {{ event.event.title }}
                </div>
              </div>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-900">
              {{ event.event.organizer.name }}
            </div>
            <div class="text-sm text-gray-500">
              {{ event.event.organizer.email }}
            </div>
          </td>

          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-900">
              {{ event.event.date | date : "dd/MM/yyyy" }}
            </div>
            <div class="text-sm text-gray-500">{{ event.event.time }}</div>
          </td>

          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-900">
              {{ event.event.city }} - {{ event.event.state }}
            </div>
            <div class="text-sm text-gray-500">
              {{ event.event.street }}
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
            <a
              (click)="removeFavorite(event.eventId)"
              href="#"
              class="ml-2 text-indigo-600 hover:text-indigo-900"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-trash"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 7l16 0" />
                <path d="M10 11l0 6" />
                <path d="M14 11l0 6" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
              </svg>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="h-[2rem] w-full py-6 mt-[5rem]">
      <div
        class="w-full h-px max-w-6xl mx-auto py-1"
        style="
          background-image: linear-gradient(
            90deg,
            rgba(149, 131, 198, 0) 1.46%,
            rgba(149, 131, 198, 0.6) 40.83%,
            rgba(149, 131, 198, 0.3) 65.57%,
            rgba(149, 131, 198, 0) 107.92%
          );
        "
      ></div>
    </div>
  </app-container>
</main>
