<app-banner-geral></app-banner-geral>
<div class="relative z-20 flex flex-col justify-end mt-[10rem] mb-10">
  <h1
    class="text-[3rem] font-extrabold uppercase font-mono bg-gradient-to-r from-gray-700 via-gray-400 to-gray-500 inline-block text-transparent bg-clip-text ml-[15rem]"
  >
    Sobre nós
  </h1>
</div>
<app-container>
  <section class="relative top-[200px]">
    <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
      <div class="max-w-lg">
        <p class="mt-4 text-gray-600 text-lg">
          Na E-event, acreditamos no poder dos eventos para conectar pessoas,
          inspirar ideias e criar experiências memoráveis. Nossa plataforma foi
          criada para facilitar a descoberta e a divulgação de eventos,
          permitindo que organizadores e participantes se encontrem de maneira
          simples e eficaz.
        </p>

        <hr class="border-y-0" />

        <p class="mt-4 text-gray-600 text-lg">
          Somos o elo entre quem organiza e quem participa de um evento. Com uma
          interface amigável e ferramentas poderosas, nossa plataforma permite
          que organizadores divulguem seus eventos para um público mais amplo,
          enquanto participantes encontram facilmente eventos que atendam aos
          seus interesses.
        </p>

        <hr />
      </div>
      <div class="mt-12 md:mt-0">
        <img
          src="assets/images/quemSomos.png"
          alt="About Us Image"
          class="object-cover rounded-lg shadow-md"
        />
      </div>
    </div>

    <div class="py-4 px-4">
      <div class="flex flex-col justify-end mt-[5rem] mb-10">
        <h1
          class="text-[3rem] font-extrabold uppercase font-mono bg-gradient-to-r from-gray-700 via-gray-400 to-gray-500 inline-block text-transparent bg-clip-text"
        >
          Onde nos localizar?
        </h1>
      </div>
      <div class="lg:mt-20">
        <div>
          <div class="rounded-lg overflow-hidden order-none sm:order-first">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.4260961238106!2d-43.105174989067386!3d-22.897649479175033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9983f3fb2b9c8d%3A0x1a06e7252fded7b0!2sR.%20Noronha%20Torrez%C3%A3o%2C%2045%20-%20Santa%20Rosa%2C%20Niter%C3%B3i%20-%20RJ%2C%2024240-185!5e0!3m2!1spt-BR!2sbr!4v1724520646052!5m2!1spt-BR!2sbr"
              class="w-full"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
            <div
              class="bg-white relative flex flex-wrap py-6 rounded-b-lg shadow-md"
            >
              <div class="lg:w-1/2 px-6">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                  <path
                    d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
                  />
                </svg>
                <p class="mt-1">Rua Noronha Torrezão, Santa Rosa</p>
                <p>Niterói-RJ</p>
              </div>
              <div class="lg:w-1/2 px-6 mt-4 lg:mt-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-mail"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
                  />
                  <path d="M3 7l9 6l9 -6" />
                </svg>
                <a href="/" class="text-indigo-500 leading-relaxed">
                  <span>contato@eevents.com</span></a
                >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-phone"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
                  />
                </svg>
                <p class="leading-relaxed">(21)-3456-7890</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col justify-end mt-[4rem] mb-10">
      <h1
        class="text-[3rem] font-extrabold uppercase font-mono bg-gradient-to-r from-gray-700 via-gray-400 to-gray-500 inline-block text-transparent bg-clip-text"
      >
        Siga nossas redes sociais
      </h1>
    </div>
    <div
      class="mx-auto max-w-3xl mb-20 items-stretch space-y-4 text-left sm:flex sm:space-y-0 sm:space-x-8 sm:text-center"
    >
      <a
        class="flex w-full items-center rounded-xl border border-black border-opacity-10 px-4 py-6 text-black duration-200 hover:border-opacity-0 hover:no-underline hover:shadow-lg ntext-white nhover:bg-white nhover:bg-opacity-10 sm:flex-col sm:hover:shadow-2xl"
        href="#"
        target="_blank"
      >
        <img
          class="mr-4 w-12 sm:mr-0 sm:h-32 sm:w-32"
          src="assets/images/intagram.png"
          alt="Framework7"
        />
      </a>
      <a
        class="flex w-full items-center rounded-xl border border-black border-opacity-10 px-4 py-6 text-black duration-200 hover:border-opacity-0 hover:no-underline hover:shadow-lg ntext-white nhover:bg-white nhover:bg-opacity-10 sm:flex-col sm:hover:shadow-2xl"
        href="#"
        target="_blank"
      >
        <img
          class="mr-4 w-12 sm:mr-0 sm:h-32 sm:w-32"
          src="assets/images/facebook.png"
          alt="Atropos"
        />
      </a>
      <a
        class="flex w-full items-center rounded-xl border border-black border-opacity-10 px-4 py-6 text-black duration-200 hover:border-opacity-0 hover:no-underline hover:shadow-lg ntext-white nhover:bg-white nhover:bg-opacity-10 sm:flex-col sm:hover:shadow-2xl"
        href="#"
        target="_blank"
      >
        <img
          class="mr-4 w-12 sm:mr-0 sm:h-32 sm:w-32"
          src="assets/images/tiktok.png"
          alt="Konsta UI"
        />
      </a>
    </div>
  </section>
</app-container>
