<div>
  <div class="gap-12 mt-[8rem] font-semibold">
    <div class="flex flex-col justify-end items-center">
      <h1
        class="text-[3rem] font-extrabold uppercase font-mono bg-gradient-to-r from-gray-600 via-gray-400 to-gray-500 inline-block text-transparent bg-clip-text"
      >
        Crie seu evento
      </h1>
    </div>
    <div class="py-10 flex flex-col">
      <div>
        <div class="p-4 tab-content rounded-lg">
          <app-form-event class="py-1"></app-form-event>
        </div>
      </div>
    </div>
  </div>
</div>
